@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


html, body{
    height: 100%
}

a{
    text-decoration: unset;
    color: unset;
}

.main-body{
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header-bar{
    padding:0;
}


.header-bar .header-title{
    background-color: #1B065E;
    padding: 15px;
    width: 100%;
    color:#CBC5EA;
    font-weight: bold;
    margin:0;
}

.header-bar .navbar-option{
    padding: 10px;
    width: 100%;
    font-size: large;
    background-color: #908ff1;
}

.header-bar .navbar-option:hover{
    background-color: #8381e7;
}

.header-bar .navbar-option.selected{
    background-color: #5654d6;
}

.page-content{
    overflow: scroll;
    padding-top: 15px;
    background-color: #EAEAEA;
    flex: 2;
}


ul{
    text-align: left;
    margin: auto;
}

.article{
    box-shadow: 0px 0px 2px 1px rgb(122, 122, 122);
    background-color: rgb(221, 221, 221);
    padding: 5px;
}

.article .author{
    width: 100%;
    padding-left: 30px;
    color: grey;
    text-align: left;
}

.article .title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
}

.article .content{
    padding: 15px;
}